@import url('https://fonts.googleapis.com/css?family=Science Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=TikTok Sans&display=swap');

:root {
    /* фон 1*/
    --main-background-color: #aee4ff;
    --main-light-background-color: #f3fbff; 
    /* фон 2 */
    --main-second-light-bg-color: #f5fcff;
    --main-second-dark-bg-color: #e9f8ff;
    /* фон карт */
    --main-light-color: #0a4d6d;
    --main-dark-color: #022639;
    --main-white-color: #dddddd;
    --card-light-color: #047ebe;
    --card-dark-color: #0a4d6e;
    --text-color-light: #d4e9f5;
    --text-color-dark: #022639;
    --purple-accent: #7b68ee;
    --shadow: 0 5px 20px rgba(1, 5, 16, 0.23);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 10%;
    background-color: #000814;
}

body {
    margin: 0;
    background: linear-gradient(90deg, var(--main-light-background-color) 0%, var(--main-background-color) 99%);
    font-family: TikTok Sans, serif;
    color: var(--text-color-light);
}

p {
    font-size: 14pt;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    color:var(--text-color-dark);
}

h1 {
    font-size: 36px;
    padding-top: 10px;
    margin: 10px;
    margin-bottom: 25pt;
    font-family: Science Gothic, serif;
    background-image: linear-gradient(to right, var(--main-dark-color) 0%, var(--text-color-dark) 100%);
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 10px rgba(225, 225, 237, 0.3);
}

h2 {
    font-size: 2em;
    margin-top: 15pt;
    margin-bottom: 15pt;
    text-align: center;
    font-family: Playfair Display, serif;
    padding: 15pt;
    color:var(--text-color-dark);
}

h3 {
    font-size: 1.5em;
    color:var(--text-color-dark);
    padding: 10px;
    margin: 10pt;
    text-align: center;

}

h4 {
    font-size: 18pt;
    padding: 10pt;
    text-align: center;
}

h5 {
    padding: 5pt;
    font-size: 14pt;
    margin: 5px;
    font-family: Source Sans 3, serif;
    color:var(--text-color-dark);
}

span {
    padding: 5pt;
    margin-left: 10pt;
    margin-right: 10pt;
}

/* .header-main {
    
} */
  
.navbar {
    display: flex;
    background: linear-gradient(90deg, var(--main-dark-color) 0%, var(--text-color-dark) 99%);
    width: 100%;
    box-sizing: border-box;
    position: fixed; 
    top: 0;
    z-index: 1000; 
    color: #fff;
    backdrop-filter: blur(10px);
}

.riseup {
    width: 10%;
    padding-left: 0.5%;
    padding-top: 0.5%;
}

.riseup img {
    height: 100%;
    width: 56px;
}

.riseup-logo img {
    display: none;
}

.drop {
    display: flex;
    width: 90%;
    justify-content: center;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    backdrop-filter: blur(10px);
}

.nav-list a{
    display: block;
    padding: 1em;
    text-decoration: none;
    color: var(--text-color-light);
    font-size: 14pt;
    box-sizing: border-box;
    font-family: TikTok Sans, serif;
}

.nav-list a:hover{
    background-color: var(--main-dark-color);
}

.nav-btn {
    display: none;
}

.name {
    width: 100%;
    /* background: radial-gradient(#4400ff 10%, #000000 100%); */
    color:azure;
    text-align: center;
    padding-bottom: 10pt;
    padding-top: 5px;
    margin-top: 60px;
}

.name-logo {
    display: block;
    justify-content: center;
    text-align: center;
}

.name-logo>img {
    float: left;
    margin-left: 10pt;
    margin-top: 5pt;
    margin-bottom: 15pt;
}

.slogan {
    display: block;
    width: 99%;
    text-align: center;
    justify-content: center;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.slogan h5 {
    color: var(--text-color-dark);
    margin-top: 15px;
    margin-bottom: 15px;
}

.request1 {
    display: flex;
    text-align: center;
    padding: 5px;
    margin: 5px;
    margin-left: 17%;
    margin-top: 50px;
}

/* .req-btn1 {
    display: inline-block;
    border-style: solid;
    border-width: 0.5px;
    margin: 10pt;
    padding: 15px;
}

.req-btn1>p {
    font-size: 17pt;
    margin-left: 0px;

} */

.req-btn1>button {
    font-size: 20px;
    padding: 0.6em 1em;
    border: none;
    outline: none;
    color: white;
    background: #e3e0e9;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: all 0.3s;
    animation: pulse 2s infinite;
}

.req-btn1 a {
    color: var(--text-color-light);
}

.req-btn1>button::before {
    content: '';
    background: linear-gradient(90deg, #fff, transparent, transparent, #fff);
    position: absolute;
    left: -2px;
    top: -2px;
    z-index: -1;
    background-size: 400%;
    filter: blur(8px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 400% 0;
    }
}

.req-btn1>button::after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--main-dark-color);
    left: 0;
    top: 0;
    border-radius: 10px;
}

.about-buttons {
    display: flex;
    justify-content: space-between;
}

.doc-about {
    display: flex;
    text-align: center;
    padding: 5px;
    margin: 5px;
    margin-right: 17%;
    margin-top: 50px;
}

.doc-btn button {
    font-size: 20px;
    padding: 0.6em 1em;
    border: none;
    outline: none;
    color: white;
    background: var(--main-dark-color);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    touch-action: manipulation;
}

.doc-btn a {
    color: var(--text-color-light);
}

.about {
    text-align: center;
    margin: 0pt;
    margin-top: 25pt;
    margin-bottom: 0pt;
    padding: 0pt;
    padding-bottom: 15pt;
}

.about>h2 {
    padding: 15pt;
    color: var(--text-color-dark);
}

.about p {
    color: var(--text-color-light);
}

.about-info1 {
    display: block;
    margin-right: 40%;
    margin-left: 6%;
    padding: 10px;
    text-align: left;
    background: linear-gradient(90deg, var(--main-light-color) 0%, var(--text-color-dark) 100%);
    border-style: solid var(--text-color-dark);
    border-width: 0.5px;
    border-radius: 1rem;
    word-wrap: break-word;
    color: var(--text-color-light);
    box-shadow: var(--shadow);
}

.about-info2 {
    display: block;
    margin-left: 60%;
    margin-right: 6%;
    padding: 10px;
    text-align: left;
    background: linear-gradient(90deg, var(--main-light-color) 0%, var(--text-color-dark) 100%);
    border-style: solid ;
    border-width: 0.5px;
    border-radius: 1.0rem;
    word-wrap: break-word;
    color: var(--text-color-light);
    box-shadow: var(--shadow);
}

/* .about-info3 {
    display: block;
    margin-right: 40%;
    margin-left: 6%;
    padding: 10px;
    text-align: center;
    background: linear-gradient(90deg, var(--main-light-color) 0%, var(--text-color-dark) 100%);
    border-style: solid;
    border-width: 0.5px;
    border-radius: 1rem;
    border-color: var(--text-color-dark);
    box-shadow: var(--shadow);
}

.about-info3>h6 {
    text-align: center;
    font-size: 13pt;
    margin: 0;
    margin-top: 5px;
    font-weight: lighter;
    color: var(--text-color-light);
}

.about-info3>img {
    width: 100%;
    height: 100%;
} */

.nominations {
    display: block;
    text-align: center;
    background: linear-gradient(90deg, var(--main-second-dark-bg-color) 0%, var(--main-second-light-bg-color) 99%);
    padding-top: 5pt;
    padding-bottom: 15pt;
}

.nominations>h2 {
    padding: 15pt;
}

.nominations .noms-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0pt;
    margin-top: 25pt;
    margin-bottom: 25pt;
    padding: 0pt;
    gap: 10px 20px;

}

.nom-card {
    display: inline-block;
    /* flex: 0 0 calc(30% - 30px); */
    width: 350px;
    padding: 10px;
    margin: 20px 5px;
    text-align: center;
    border-radius: 1.5em;
    background: linear-gradient(90deg, var(--card-light-color) 0%, var(--card-dark-color) 99%);
}

.noms-cont img {
    width: 200px;
    height: 100%;
    margin-top: 15px;
}

.nom-title {
    text-align: left;
    margin: 10px 0px 10px 17px;
}

.nom-title h5 {
    color: var(--text-color-light); 
}

.nom-text {
    text-align: left;
    margin-left: 15px;
    padding: 5px;
}

.nom-text p {
    color: var(--text-color-light); 
}

.experts {
    margin: 10pt;
    margin-top: 20pt;
    margin-bottom: 20pt;
    text-align: center;
    justify-content: space-between;
    
}

.expert-title {
    text-align: center;
}

.expert-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin-left: 5px;
    place-items: center;
}

.expert-card {
    display: flex;
    margin-left: 0%;
    margin-top: 15px;
    margin-bottom: 15px;
}

 .rectangle { 
    width: 250px; 
    height: 80px; 
    padding-top: 10pt;
    background-color: var(--main-light-color);
    text-align: left;
    color: rgb(21, 22, 23);
    border-radius: 0px 15px 15px 0px
}

.rectangle p {
    color: var(--text-color-light);
}

#triangle_left {  
    position: relative;
    width: 0;  
    height: 0;  
    margin-left: 45px;
    border-top: 47.5px solid transparent;  
    border-right: 50px solid var(--main-light-color);  
    border-bottom: 47px solid transparent;  
}  

.circle { 
    position: absolute;
    width: 90px; 
    height: 90px; 
    border-radius: 100%; 
    background-color: var(--main-light-color); 
}

.partners {
    text-align: center;
    margin: 0pt;
    margin-top: 25pt;
    margin-bottom: 0pt;
    padding-bottom: 25pt;
    box-shadow: var(--shadow);
    background: linear-gradient(90deg, var(--main-second-dark-bg-color) 0%, var(--main-second-light-bg-color) 99%);
}

.partners>img {
    max-width: 500px;
}

.partners-card {
    display: inline-block;
    padding: 10px;
    text-align: center;
    background-color: var(--main-dark-color);
    margin: 10px;
    border-radius: 0.5em;
}


.partners-card>p {
    font-size: 14pt;
    color: var(--text-color-light);
}

.guests {
    text-align: center;
    margin: 0pt;
    margin-top: 25pt;
    margin-bottom: 25pt;
    padding: 0pt;
}

.guests-card {
    display: inline-block;
    padding: 10px;
    margin: 10px 5px;
    text-align: center;
    background-color: var(--main-dark-color);
    border-radius: 0.5em;
}

.guests-card p {
    color: var(--text-color-light);
}

.prize {
    display: block;
    text-align: center;
    box-shadow: var(--shadow);
    padding-bottom: 15pt;
    background: linear-gradient(90deg, var(--main-second-dark-bg-color) 0%, var(--main-second-light-bg-color) 99%);
}

.prize>h2 {
    padding: 15pt;
}

.prize-card {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: var(--main-dark-color);
    border-radius: 0.5em;
}

.prize-card h5 {
    color: var(--text-color-light);
}

.prize-card p {
    color: var(--text-color-light);
}

.prize-card>img {
    border-style: solid;
    border-width: 0.5px;
}

.participation {
    display: block;
    text-align: center;
    margin: 5pt;
    margin-inline: 0;
}

.participation>h2 {
    padding: 15pt;
}


.invites {
    display: inline-block;
}

.invite {
    position: relative;
    border-style: solid;
    border-width: 1.8px;
    border-radius: 0.5rem;
    border-color: var(--purple-accent);
    width: 500px;
    height: 100px;
    padding: 10pt;
    margin-bottom: 15pt;
    margin-top: 15pt;
    text-align: left;
    background-color: var(--main-second-light-bg-color);
}

.invite-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2);
}

.invite-group {
    display: inline-block;
    justify-content: left;
    margin-left: 5px;
    margin-right: 5px;
}

.invite>details>summary {
    font-size: 14pt;
    color: var(--text-color-dark);
}
.invite h5 {
    color: var(--text-color-dark);
}

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; margin-bottom: -10px}
  100%  {opacity: 1; margin-bottom: 0px}
}

.invite>details>h5 {
    position: absolute;
    bottom: 0;
}

.request2 {
    display: block;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;

}

.request>p {
    font-weight: bold;
}

.req-btn2 {
    display: inline-block;
    text-align: center;
    justify-content: center;
    margin: 2em 0em;
    padding: 0.5em 0em;
}

.req-btn2 span {
    margin: 0;
    padding: 2em 0.5em;
}

.req-btn2 a {
    margin-left: 0px;
    font-size: 16pt;
    color: rgb(255, 255, 255);
}

.req-btn2 button {
    width: 250px;
    height: 60px;
    background-color: #5942db;
    box-shadow: 0 0 5px  #5942db,
    0 0 25px  #5942db;
    padding: 0.5em 2em;
    cursor: pointer;
    border-radius: 0.5em;
}
.req-btn2 button:hover {
    box-shadow: 0 0 5px  #5942db,
    0 0 25px  #5942db, 0 0 50px  #5942db,
    0 0 100px  #5942db, 0 0 200px  #5942db;
}

.timer-cont {
    display: block;
    place-items: center;
}

.help-mail {
    display: inline;
    text-align: center;
    padding: 10px;
    font-style: italic;
}

.help-mail>p {
    font-size: 14pt;
}

.help-mail>p>span {
    font-size: 15pt;
    font-weight: bold;
    padding: 2pt;
    margin: 0;
}

.help-mail a {
    color: #007bff;
}


/*  */
.sole {
    background-color:var(--main-dark-color);
    color: var(--text-color-dark);
}


.bottom {
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, var(--main-light-background-color) 0%, var(--main-background-color) 99%);
}

.end-page {
    display: block;
    width: 25%;
    padding-left: 0px;
    padding-bottom: 0px;
    justify-content: flex-end;
    margin-top: 15pt;
    margin-bottom: 0pt;
    margin-right: 10pt;
    text-align: center;
}

.contacts {
    padding: 5pt;
    text-align: center;
}

.conts {
    display: inline-block;
    text-align: left;
    margin-bottom: 10pt;
}

.conts>p {
    padding-bottom: 10pt;
    font-size: 15pt;
}

.conts span {
        margin: 0;
    }

.left-end {
    width: 70%;
    justify-content: center;
    padding-left: 15pt;
    margin: 15pt;
    margin-bottom: 0pt;
    padding-bottom: 15pt;
    text-align: left;
}

.left-end>p {
    margin-bottom: 15pt;
    text-align: center;
    font-size: 15pt;
    font-weight: bold;
}

.left-end>iframe {
    margin:0 auto;
    width: 100%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.end-bot-cont {
    display: flex;
}

.end-bot-cont img {
    float: left;
    background-color: transparent;
    background-image: none;
    overflow: hidden;
    height: 100px;
    margin-left: 10px;
}

.end-logo {
    display: inline-block;   
    width: 50%;
}

.end-logo>.end-logo-alt>img {
    display: none;
}

.copyright {
    display: inline-block;
    width: 50%;
    text-align: right;
    padding-top: 40px;
    margin-right: 45px;
}

.copyright p {
    color: var(--text-color-light);
}

#timer {
    font-family: Arial, sans-serif;
    font-size: 19pt;
    color: rgb(255, 0, 51);
    text-align: center;
    padding: 20px;
    border: 2px solid var(--main-light-color);
    border-radius: 10px;
    width: 300px;
    margin: 2opx auto;
    margin-top: 20px;
}

#timer {
    font-family: Arial, sans-serif;
    font-size: 19pt;
    color: rgb(255, 0, 51);
    text-align: center;
    padding: 20px;
    border: 2px solid var(--main-light-color);
    border-radius: 10px;
    width: 300px;
    margin: 2opx auto;
    margin-top: 20px;
}


/*  */





@media (max-width: 1150px) {
    .sole {
    display: block;
    }

    .bottom {
        display: block;
    }

    .bottom>.left-end {
        display: block;
        width: 95%;
        padding-left: 0%;
    }

    .bottom>.left-end>p {
        padding-top: 5%;
        font-size: 13pt;
        margin-left: 0;
    }

    .left-end>iframe {
        width: 100%;
        height: 380px;
        margin-left: 0%;
        margin-right: 0%;
    }

    .end-page {
        width: 90%;
        margin-inline: 0;
    }

    .right-end {
        width: 85%;
        padding-left: 5px;
        margin-top: 25px;
    }

    .copyright {
        text-align: left;
        padding-left: 2%;
    }

    .sole>.bottom {
        width: 100%;
    }

    .conts>p {
        word-break: break-all;
    }

    .conts span {
        margin: 0;
    }
}

@media (max-width: 1100px){
    .head {
        flex-direction: column;
    }
    .expert-info {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2);
        place-items: center;
        margin-left: 0px;
    }
    .invite-blocks {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4);
        place-items: center;
    }

    .riseup img {
        height: 100%;
        width: 50px;
    }

    .nav-list a {
        font-size: 12pt;
    }
}

@media screen and (max-width: 1000px) {
  .request1 span {
    padding-top: 0px;
  }
  .request1 a {
    font-size: 16px;    
  }

  .doc-about span {
    padding-top: 0px;
  }
  .doc-about a {
    font-size: 16px;    
  }
}

@media (max-width: 800px) {
    .drop {
        text-align: end;
        justify-content:end;
    }

    .nav-btn {
        display: block;
        font-size: 1.6em;
        padding-left: 10px;
        padding-right: 15px;
        padding-bottom: 3px;
        border: none;
        background-color: var(--text-color-dark);
        color: white;
        cursor: pointer;
    }

    .nav-list {
        display: none;
        margin-top: 61px;
        transition: right 0.3s;
    }  

    .riseup {
        width: 35%;
    }

    .riseup>a {
        display: none;
    }

    .riseup-logo img {
        display: flex;
        height: 62px;
        width: 165px; 
    }

    .end-logo>img {
        display: none;
    }

    .end-logo>.end-logo-alt>img {
        display: flex;
    }

    .drop:hover .nav-list {
        display: block;
        position: absolute;
        right: 1px;
        background-color: rgb(55, 54, 54);
    }
    
    .drop:hover nav {
        display: block;
        position: absolute;
        right: 1px;
        background-color: var(--text-color-dark);
    }

    .navbar {
        justify-content: space-between;
    }

    .request1 span {
        padding-top: 0px;
        margin: 0;
    }
    .request1 a {
        font-size: 16px;    
    }

    .doc-about span {
        padding-top: 0px;
        margin: 0;
    }
    .doc-about a {
        font-size: 16px;    
    }
}

@media (max-width: 750px){
    .expert-info {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3);
        place-items: center;
        margin-left: 0px;
    }

    .participation .invite {
    width: 400px;
    }

    .invite>details>h5 {
        text-align: center;
    }

    .sole {
    display: block;
    }

    .bottom {
        display: block;
    }

    .bottom>.left-end {
        display: block;
        width: 100%;
        padding-left: 0%;
        margin-inline: 0;
    }

    .bottom>.left-end>p {
        padding-top: 5%;
        font-size: 13pt;
    }

    .left-end>iframe {
        width: 96%;
        height: 380px;
        margin-left: 2%;
        margin-right: 2%;
    }

    .end-page {
        width: 91%;
    }

    .end-bot-cont img {
        height: 80px;
    }

    .copyright {
        padding-top: 30px;    
    }

    .copyright p{
        font-size: 12pt;
    }

    .sole>.bottom {
        width: 100%;
    }

    .conts>p {
        word-break: break-all;
    }

    .conts span {
        margin: 0;
    }
}


@media (max-width: 550px) { 
    .slogan {
        width: 97%;
    }

    .participation .invite {
        width: 90%;
        margin-left: 0%;
        margin-right: 3%;
    }

    .about-info1 {
        display: inline-block;
        width: 92%;
        justify-content: center;
        margin: 0;
        margin-left: 0%;
        margin-bottom: 1%;
    }

    .about-info2 {
        display: inline-block;
        width: 92%;
        justify-content: center;
        text-align: left;
        margin: 0;
        margin-left: 0%;
        margin-bottom: 1%;
    }

    .about-info3 {
        display: inline-block;
        width: 92%;
        justify-content: center;
        margin: 0;
        margin-left: 0%;
    }

    .about-info1>p {
        font-size: 12pt;
    }
    .about-info2>p {
        font-size: 12pt;
    }

    .partners>.partners-card {
        margin-bottom: 2%;
    }

    .guests-card {
        margin-bottom: 2%;
    }

    .guests-card>img {
        height: 100%;
        width: 300px;
    }

    .prize-card>img {
        height: 100%;
        width: 300px;
    }

    .invite>details>h5 {
        text-align: center;
        margin-top: 5%;
    }

    .invite>details>summary {
        padding-bottom: 5%;
        font-size: 13.5pt;
    }

    .end-logo {
        width: 30%;
    }

    .copyright {
        width: 65%;
        margin-right: 30px;
    }
}

@media (max-width: 400px) {
    .expert-card {
        width: 92%;
    }

    .rectangle {
        width: 92%;
    }

    .rectangle>p {
        font-size: 12pt;
    }

    .guests-card {
        padding: 15px 0px;
        width: 95%;
    }

    .guests-card>p {
        font-size: 12pt;
    }

    .prize-card>img {
        width: 100%;
    }

    .guests-card>img {
        width: 90%;

    }

    .about-buttons {
        display: block;
    }

    .request1 {
        display: block;
        margin-inline: 10px;
    }

    .doc-about {
        display: block;
        margin-inline: 10px;
        margin-top: 15px;
    }
}


@media (max-width: 375px) {
    #timer {
        width: 95%;
        font-size: 15pt;
        padding-inline: 0px;
    }
}

@media (max-width: 370px) {
    .participation .invite {
        height: 170px;
        width: 90%;
    }

    .invites {
        width: 100%;
        padding-inline: 0;
        margin-inline: 0;
    }

    .copyright {
        padding-top: 28px;
    }

    .end-logo img {
        height: 70px;
    }

    .copyright {
        width: 65%;
        margin-right: 10px;
    }
}

@media (max-width: 330px) {
    .rectangle>p {
        font-size: 11pt;
    }
}