body {
    margin: 0;
}

p {
    font-size: 14pt;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    font-size: 32px;
    padding-top: 10px;
    margin: 10px;
    margin-bottom: 25pt;
}

h2 {
    margin-top: 15pt;
    margin-bottom: 15pt;
    text-align: center;
}

h3 {
    background-color: mediumslateblue;
    color:azure;
    padding: 10px;
    margin: 10pt;
    text-align: center;

}

h4 {
    padding: 10pt;
    text-align: center;
}

h5 {
    padding: 5pt;
    font-size: 14pt;
    margin: 5px;
}

span {
    padding: 5pt;
    margin-left: 10pt;
    margin-right: 10pt;
}

.table-wrap {
    text-align: center;
    display: inline-block;
    background-color: #fff;
    padding: 2rem 2rem;
    color: #000;
}
 
 table {
    width: 1000px;
    border: 1px solid #ccc;
    margin: auto;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
  }
 
  table tr {
    border: 1px solid #ddd;
    padding: 5px;
  }
 
  table th, table td {
    padding: 10px;
    text-align: left;
    border-right: 1px solid #ddd;
  }
 
  table th {
    color: #fff;
    background-color: #444;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
  }

.head {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-bottom: 15pt;
    font-size: 20px;
}

.head>ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.head>ul>li {
    display: block;
    padding: 5pt;
    padding-left: 15pt;
    padding-right: 15pt;
    border-style: solid;
    border-width: 0.5px;
}

.name {
    width: 100%;
    background-color: mediumslateblue;
    color:azure;
    text-align: center;
    padding-bottom: 10pt;
    padding-top: 5px;
}

.name-logo {
    display: block;
    justify-content: center;
    text-align: center;
}

.name-logo>img {
    float: left;
    margin-left: 10pt;
    margin-top: 5pt;
    margin-bottom: 15pt;
}

.slogan {
    display: inline-block;
    text-align: left;
    justify-content: left;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.request1 {
    display: flex;
    text-align: center;
    padding: 5px;
    margin: 5px;
    margin-left: 17%;
}

.req-btn1 {
    display: inline-block;
    border-style: solid;
    border-width: 0.5px;
    margin: 10pt;
    padding: 15px;
}

.riseup {
    --bgc: #3498db;
    --br: 10px;
    position: fixed;
    bottom: 2%;
    right: 1%;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: var(--br);
    transition: 2s;
    background-color:rgb(67, 133, 200, 0.1);
    &:hover {
        --bgc: #3c9ada;
        --br: 40px;
    }
}

.riseup>p {
    margin: 0;
}

.about {
    text-align: center;
    margin: 0pt;
    margin-top: 25pt;
    margin-bottom: 25pt;
    padding: 0pt;
}

.about>h2 {
    padding: 15pt;
}

.about-info1 {
    display: block;
    margin-right: 40%;
    margin-left: 6%;
    padding: 10px;
    text-align: left;
    background-color: rgb(196, 205, 205);
    border-style: solid;
    border-width: 0.5px;
    word-wrap: break-word;
}


.about-info2 {
    display: block;
    margin-left: 60%;
    margin-right: 6%;
    padding: 10px;
    text-align: right;
    background-color: rgb(196, 205, 205);
    border-style: solid;
    border-width: 0.5px;
    word-wrap: break-word;
}

.about-info3 {
    display: block;
    margin-right: 40%;
    margin-left: 6%;
    padding: 10px;
    text-align: center;
    background-color: rgb(196, 205, 205);
    border-style: solid;
    border-width: 0.5px;
}

.about-info3>h6 {
    text-align: center;
    font-size: 13pt;
    margin: 0;
    margin-top: 5px;
    font-weight: lighter;
}

.about-info3>img {
    width: 100%;
    height: 100%;
}

.nominations {
    display: block;
    text-align: center;
}

.nominations>h2 {
    padding: 15pt;
}

.experts {
    margin: 10pt;
    margin-top: 20pt;
    margin-bottom: 20pt;
    text-align: center;
    justify-content: space-between;
    
}

.expert-title {
    text-align: center;
}

.expert-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin-left: 5px;
    place-items: center;
}

.expert-card {
    display: flex;
    margin-left: 5%;
    margin-top: 15px;
    margin-bottom: 15px;
}

 .rectangle { 
    width: 250px; 
    height: 80px; 
    padding-top: 10pt;
    background-color: #3498db;
    text-align: left;
    color: rgb(21, 22, 23);
}

#triangle_left {  
    position: relative;
    width: 0;  
    height: 0;  
    margin-left: 45px;
    border-top: 47.5px solid transparent;  
    border-right: 50px solid #3498db;  
    border-bottom: 47px solid transparent;  
}  

.circle { 
    position: absolute;
    width: 90px; 
    height: 90px; 
    border-radius: 100%; 
    background-color: #81a6be; 
}

.partners {
    text-align: center;
    margin: 0pt;
    margin-top: 25pt;
    margin-bottom: 25pt;
    padding: 0pt;
}

.partners>img {
    max-width: 500px;
}

.partners-card {
    display: inline-block;
    padding: 10px;
    text-align: center;
    background-color: rgb(196, 205, 205);
    border-style: solid;
    border-width: 0.5px;
    margin-left: 10px;
    margin-right: 10px;
}


.partners-card>p {
    font-size: 14pt;
}

.guests {
    text-align: center;
    margin: 0pt;
    margin-top: 25pt;
    margin-bottom: 25pt;
    padding: 0pt;
}

.guests-card {
    display: inline-block;
    padding: 10px;
    text-align: center;
    background-color: rgb(196, 205, 205);
}

.prize {
    display: block;
    text-align: center;

}

.prize>h2 {
    padding: 15pt;
}

.prize-card {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: rgb(196, 205, 205);
}

.prize-card>img {
    border-style: solid;
    border-width: 0.5px;
}

.participation {
    display: block;
    text-align: center;
    margin: 5pt;
}

.participation>h2 {
    padding: 15pt;
}


.invites {
    display: inline-block;
}

.invite {
    position: relative;
    border-style: solid;
    border-width: 0.8px;
    width: 500px;
    height: 100px;
    padding: 10pt;
    margin-bottom: 15pt;
    margin-top: 15pt;
    text-align: left;
}

.invite-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2);
}

.invite-group {
    display: inline-block;
    justify-content: left;
    margin-left: 5px;
    margin-right: 5px;
}

.invite>details>summary {
    font-size: 14pt;
}

.invite>details>h5 {
    position: absolute;
    bottom: 0;
}

.request2 {
    display: block;
    text-align: center;
    padding: 5px;
    margin: 5px;
    font-weight: bold;

}

.request>p {
    font-weight: bold;
}

.req-btn2 {
    display: inline-block;
    border-style: solid;
    border-width: 0.5px;
    text-align: center;
    justify-content: center;
    margin: 10pt;
    padding: 15px;
}

.req-btn>p {
    margin-left: 0px;
    font-size: 17pt;
}

.help-mail {
    display: inline;
    text-align: center;
    padding: 10px;
    font-style: italic;
}

.help-mail>p {
    font-size: 14pt;
}

.help-mail>p>span {
    font-size: 15pt;
    font-weight: bold;
    padding: 2pt;
    margin: 0;
}

.sole {
    background-color:#dddddd;
}

.bottom {
    display: flex;
    justify-content: center;
}

.end-page {
    display: block;
    width: 25%;
    padding-left: 0px;
    padding-bottom: 0px;
    justify-content: flex-end;
    margin-top: 15pt;
    margin-bottom: 0pt;
    margin-right: 10pt;
    text-align: center;
}

.contacts {
    padding: 5pt;
    text-align: center;
}

.conts {
    display: inline-block;
    text-align: left;
    margin-bottom: 10pt;
}

.conts>p {
    padding-bottom: 10pt;
}

.left-end {
    width: 70%;
    justify-content: center;
    padding-left: 15pt;
    margin: 15pt;
    margin-bottom: 0pt;
    padding-bottom: 15pt;
    text-align: left;
}

.left-end>p {
    margin-bottom: 15pt;
    text-align: center;
    font-size: 15pt;
    font-weight: bold;
}

.left-end>iframe {
    margin:0 auto;
    width: 100%;
}

.copyright {
    display: inline-block;
    text-align: center;
    padding: 15pt;
    padding-left: 50pt;
}





@media (max-width: 1100px){
    .head {
        flex-direction: column;
    }
    .expert-info {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2);
        place-items: center;
        margin-left: 0px;
    }
    .invite-blocks {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4);
        place-items: center;
    }
}

@media (max-width: 750px){
    .expert-info {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3);
        place-items: center;
        margin-left: 0px;
    }
}

@media (max-width: 1100px){
    .menu-cont {
        display: flex;
    }

    .menu-btn {
        width: 65px;
        height: 65px;
        border: 5px solid rgb(0, 0, 0);
        background-repeat: no-repeat;
        background-size: 75%;
        background-position: center;
    }

    .head>ul {
        display: none;
    }
}

@media screen and (max-width: 800px) {
  table {
    border: 0;
    width: 100%; 
    margin-left: 1.55%;
  }

  table thead {
    display: none;
  }

  table tr {
    display: block;
    margin-bottom: 15px;
  }

  table td {
    display: flex;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    gap: 10px;
  }

  /* Лейбл (бывший заголовок / data-label) */
  table td:before {
    content: attr(data-label);
    flex: 0 0 25%;     /* ЖЁСТКАЯ ширина 25% */
    font-weight: bold;
    text-transform: uppercase;
    word-break: break-all;        /* Перенос слов внутри лейбла */
  }

  /* Значение */
  table td {
    flex: 0 0 75%;     /* ЖЁСТКАЯ ширина 75% */
    word-break: break-all;        /* Перенос внутри текста */
  }
}

@media (max-width: 550px) { 
.participation .invite {
    width: 100%;
    margin-left: 3%;
    margin-right: 3%;
}
}