@import url('https://fonts.googleapis.com/css?family=Science Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=TikTok Sans&display=swap');



html {
    scroll-behavior: smooth;
    scroll-padding-top: 10%;
    background-color: #000814;
}

body {
    margin: 0;
    background-color: #c9bcbc46;
    font-family: TikTok Sans, serif;
    color: #fff;
}

p {
    font-size: 14pt;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    font-size: 32px;
    padding-top: 10px;
    margin: 10px;
    margin-bottom: 25pt;
    font-family: Science Gothic, serif;
    background-image: linear-gradient(to right, #ffffff, #b8bff7);
    background-clip: text;
    color: transparent;
}

h2 {
    margin-top: 15pt;
    margin-bottom: 15pt;
    text-align: center;
    font-family: Playfair Display, serif;

}

h3 {
    background-color: mediumslateblue;
    color:azure;
    padding: 10px;
    margin: 10pt;
    text-align: center;

}

h4 {
    padding: 10pt;
    text-align: center;
}

h5 {
    padding: 5pt;
    font-size: 14pt;
    margin: 5px;
    font-family: Source Sans 3, serif;
}

span {
    padding: 5pt;
    margin-left: 10pt;
    margin-right: 10pt;
}

.table-wrap {
    text-align: center;
    display: inline-block;
    background-color: #fff;
    padding: 2rem 2rem;
    color: #000;
}
 
 table {
    width: 1000px;
    border: 2px solid mediumslateblue;
    margin: auto;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
  }
 
  table tr {
    border: 2px solid mediumslateblue;
    padding: 5px;
  }
 
  table th, table td {
    padding: 10px;
    text-align: left;
    border-right: 2px solid mediumslateblue;
  }

  table thead {
    font-weight: bold;
  }
 
  table th {
    color: #fff;
    background-color: #444;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
  }


/* .header-main {
    
} */
  
.navbar {
    display: flex;
    background-color: rgb(55, 54, 54);
    width: 100%;
    box-sizing: border-box;
    position: fixed; 
    top: 0;
    z-index: 1000; 
    color: #fff;
}

.riseup {
    width: 10%;
    padding-left: 0.5%;
    padding-top: 0.5%;
}

.drop {
    display: flex;
    width: 90%;
    justify-content: center;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.nav-list a{
    display: block;
    padding: 1em;
    text-decoration: none;
    color: white;
    font-size: 14pt;
    box-sizing: border-box;
    font-family: TikTok Sans, serif;
}

.nav-list a:hover{
    background-color: rgb(112, 109, 109);
}

.nav-btn {
    display: none;
}

.name {
    width: 100%;
    background-color: mediumslateblue;
    /* background: radial-gradient(#4400ff 10%, #000000 100%); */
    color:azure;
    text-align: center;
    padding-bottom: 10pt;
    padding-top: 5px;
    margin-top: 60px;
}

.name-logo {
    display: block;
    justify-content: center;
    text-align: center;
}

.name-logo>img {
    float: left;
    margin-left: 10pt;
    margin-top: 5pt;
    margin-bottom: 15pt;
}

.slogan {
    display: inline-block;
    width: 50%;
    text-align: left;
    justify-content: left;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.slogan h5 {
    background: linear-gradient(to right, #020b39, #6f5be1);
    margin-top: 15px;
    margin-bottom: 15px;
}

.request1 {
    display: flex;
    text-align: center;
    padding: 5px;
    margin: 5px;
    margin-left: 17%;
    margin-top: 50px;
}

/* .req-btn1 {
    display: inline-block;
    border-style: solid;
    border-width: 0.5px;
    margin: 10pt;
    padding: 15px;
}

.req-btn1>p {
    font-size: 17pt;
    margin-left: 0px;

} */

.req-btn1>button {
    font-size: 20px;
    padding: 0.6em 1em;
    border: none;
    outline: none;
    color: white;
    background: #e3e0e9;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: all 0.3s;
    animation: pulse 2s infinite;
}

.req-btn1 a {
    color: hsl(0, 0%, 100%);
}

.req-btn1>button::before {
    content: '';
    background: linear-gradient(90deg, #fff, transparent, transparent, #fff);
    position: absolute;
    left: -2px;
    top: -2px;
    z-index: -1;
    background-size: 400%;
    filter: blur(8px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 400% 0;
    }
}

.req-btn1>button::after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #301868;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.about {
    text-align: center;
    margin: 0pt;
    margin-top: 25pt;
    margin-bottom: 25pt;
    padding: 0pt;
}

.about>h2 {
    padding: 15pt;
}

.about-info1 {
    display: block;
    margin-right: 40%;
    margin-left: 6%;
    padding: 10px;
    text-align: left;
    background-color: rgba(61, 103, 219, 0.596);
    border-style: solid;
    border-width: 0.5px;
    border-radius: 1.5rem;
    word-wrap: break-word;
}

.about-info2 {
    display: block;
    margin-left: 60%;
    margin-right: 6%;
    padding: 10px;
    text-align: right;
    background-color: rgba(62, 155, 202, 0.771);
    border-style: solid;
    border-width: 0.5px;
    border-radius: 1.5rem;
    word-wrap: break-word;
}

.about-info3 {
    display: block;
    margin-right: 40%;
    margin-left: 6%;
    padding: 10px;
    text-align: center;
    background-color: rgba(61, 103, 219, 0.596);
    border-style: solid;
    border-width: 0.5px;
    border-radius: 0.5rem;

}

.about-info3>h6 {
    text-align: center;
    font-size: 13pt;
    margin: 0;
    margin-top: 5px;
    font-weight: lighter;
}

.about-info3>img {
    width: 100%;
    height: 100%;
}

.nominations {
    display: block;
    text-align: center;
}

.nominations>h2 {
    padding: 15pt;
}

.experts {
    margin: 10pt;
    margin-top: 20pt;
    margin-bottom: 20pt;
    text-align: center;
    justify-content: space-between;
    
}

.expert-title {
    text-align: center;
}

.expert-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin-left: 5px;
    place-items: center;
}

.expert-card {
    display: flex;
    margin-left: 0%;
    margin-top: 15px;
    margin-bottom: 15px;
}

 .rectangle { 
    width: 250px; 
    height: 80px; 
    padding-top: 10pt;
    background-color: #3498db;
    text-align: left;
    color: rgb(21, 22, 23);
}

#triangle_left {  
    position: relative;
    width: 0;  
    height: 0;  
    margin-left: 45px;
    border-top: 47.5px solid transparent;  
    border-right: 50px solid #3498db;  
    border-bottom: 47px solid transparent;  
}  

.circle { 
    position: absolute;
    width: 90px; 
    height: 90px; 
    border-radius: 100%; 
    background-color: #81a6be; 
}

.partners {
    text-align: center;
    margin: 0pt;
    margin-top: 25pt;
    margin-bottom: 25pt;
    padding: 0pt;
}

.partners>img {
    max-width: 500px;
}

.partners-card {
    display: inline-block;
    padding: 10px;
    text-align: center;
    background-color: rgb(89, 97, 97);
    margin: 10px;
    border-radius: 0.5em;
}


.partners-card>p {
    font-size: 14pt;
}

.guests {
    text-align: center;
    margin: 0pt;
    margin-top: 25pt;
    margin-bottom: 25pt;
    padding: 0pt;
}

.guests-card {
    display: inline-block;
    padding: 10px;
    margin: 10px 5px;
    text-align: center;
    background-color: rgb(89, 97, 97);
    border-radius: 0.5em;
}

.prize {
    display: block;
    text-align: center;

}

.prize>h2 {
    padding: 15pt;
}

.prize-card {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: rgb(89, 97, 97);
    border-radius: 0.5em;
}

.prize-card>img {
    border-style: solid;
    border-width: 0.5px;
}

.participation {
    display: block;
    text-align: center;
    margin: 5pt;
}

.participation>h2 {
    padding: 15pt;
}


.invites {
    display: inline-block;
}

.invite {
    position: relative;
    border-style: solid;
    border-width: 0.8px;
    border-radius: 0.5rem;
    width: 500px;
    height: 100px;
    padding: 10pt;
    margin-bottom: 15pt;
    margin-top: 15pt;
    text-align: left;
}

.invite-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2);
}

.invite-group {
    display: inline-block;
    justify-content: left;
    margin-left: 5px;
    margin-right: 5px;
}

.invite>details>summary {
    font-size: 14pt;
}

.invite>details>h5 {
    position: absolute;
    bottom: 0;
}

.request2 {
    display: block;
    text-align: center;
    padding: 5px;
    margin: 5px;
    font-weight: bold;

}

.request>p {
    font-weight: bold;
}

.req-btn2 {
    display: inline-block;
    text-align: center;
    justify-content: center;
    margin: 2em 1em;
    padding: 0.5em 1em;
}

.req-btn2 span {
    margin: 0;
    padding: 2em 0.5em;
}

.req-btn2 a {
    margin-left: 0px;
    font-size: 16pt;
    color: rgb(255, 255, 255);
}

.req-btn2 button {
    background-color: #5942db;
    box-shadow: 0 0 5px  #5942db,
    0 0 25px  #5942db;
    padding: 0.5em 2em;
    cursor: pointer;
    border-radius: 0.5em;
}
.req-btn2 button:hover {
    box-shadow: 0 0 5px  #5942db,
    0 0 25px  #5942db, 0 0 50px  #5942db,
    0 0 100px  #5942db, 0 0 200px  #5942db;
}

.timer-cont {
    display: block;
    place-items: center;
}

.help-mail {
    display: inline;
    text-align: center;
    padding: 10px;
    font-style: italic;
}

.help-mail>p {
    font-size: 14pt;
}

.help-mail>p>span {
    font-size: 15pt;
    font-weight: bold;
    padding: 2pt;
    margin: 0;
}

.help-mail a {
    color: #007bff;
}

.sole {
    background-color:#dddddd;
    color: #1b1b11;
}

.bottom {
    display: flex;
    justify-content: center;
}

.end-page {
    display: block;
    width: 25%;
    padding-left: 0px;
    padding-bottom: 0px;
    justify-content: flex-end;
    margin-top: 15pt;
    margin-bottom: 0pt;
    margin-right: 10pt;
    text-align: center;
}

.contacts {
    padding: 5pt;
    text-align: center;
}

.conts {
    display: inline-block;
    text-align: left;
    margin-bottom: 10pt;
}

.conts>p {
    padding-bottom: 10pt;
}

.conts span {
        margin: 0;
    }

.left-end {
    width: 70%;
    justify-content: center;
    padding-left: 15pt;
    margin: 15pt;
    margin-bottom: 0pt;
    padding-bottom: 15pt;
    text-align: left;
}

.left-end>p {
    margin-bottom: 15pt;
    text-align: center;
    font-size: 15pt;
    font-weight: bold;
}

.left-end>iframe {
    margin:0 auto;
    width: 100%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.copyright {
    display: inline-block;
    text-align: center;
    padding: 15pt;
    padding-left: 50pt;
}


#timer {
    font-family: Arial, sans-serif;
    font-size: 19pt;
    color: rgb(255, 0, 51);
    text-align: center;
    padding: 20px;
    border: 2px solid #007bff;
    border-radius: 10px;
    width: 300px;
    margin: 2opx auto;
    margin-top: 20px;
}




@media (max-width: 1150px) {
    .sole {
    display: block;
    }

    .bottom {
        display: block;
    }

    .bottom>.left-end {
        display: block;
        width: 95%;
        padding-left: 0%;
    }

    .bottom>.left-end>p {
        padding-top: 5%;
        font-size: 13pt;
        margin-left: 0;
    }

    .left-end>iframe {
        width: 100%;
        height: 380px;
        margin-left: 0%;
        margin-right: 1%;
    }

    .end-page {
        width: 100%;
        text-align: center;
    }

    .copyright {
        text-align: left;
        padding-left: 2%;
    }

    .sole>.bottom {
        width: 100%;
    }

    .conts>p {
        word-break: break-all;
    }

    .conts span {
        margin: 0;
    }
}

@media (max-width: 1100px){
    .head {
        flex-direction: column;
    }
    .expert-info {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2);
        place-items: center;
        margin-left: 0px;
    }
    .invite-blocks {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4);
        place-items: center;
    }

    .nav-list a {
        font-size: 12pt;
    }
}

@media screen and (max-width: 1000px) {
  table {
    border: 0;
    width: 95%; 
    margin-left: 1.55%;
    margin-right: 2%;
  }

  table thead {
    display: none;
  }

  table tr {
    display: block;
    margin-bottom: 15px;
  }

  table td {
    display: flex;
    width: 100%;
    padding: 10px 0;
    border-bottom: 2px solid mediumslateblue;
    gap: 10px;
  }

  /* Лейбл (бывший заголовок / data-label) */
  table td:before {
    content: attr(data-label);
    flex: 0 0 32%;     /* ЖЁСТКАЯ ширина 25% */
    font-weight: bold;
    text-transform: uppercase;
    word-break: break-all;        /* Перенос слов внутри лейбла */
    font-size: 9pt;
    padding-right: 2px;
}

  /* Значение */
  table td {
    flex: 0 0 68%;     /* ЖЁСТКАЯ ширина 75% */
    overflow-wrap: break-word;        /* Перенос внутри текста */
    font-size: 11pt;
}
}

@media screen and (max-width: 1000px) {
  table {
    border: 0;
    width: 95%; 
    margin-left: 1.55%;
    margin-right: 2%;
  }

  table thead {
    display: none;
  }

  table tr {
    display: block;
    margin-bottom: 15px;
  }

  table td {
    display: flex;
    width: 100%;
    padding: 10px 0;
    border-bottom: 2px solid mediumslateblue;
    gap: 10px;
  }

  /* Лейбл (бывший заголовок / data-label) */
  table td:before {
    content: attr(data-label);
    flex: 0 0 32%;     /* ЖЁСТКАЯ ширина 25% */
    font-weight: bold;
    text-transform: uppercase;
    word-break: break-all;        /* Перенос слов внутри лейбла */
    font-size: 9pt;
}

  /* Значение */
  table td {
    flex: 0 0 68%;     /* ЖЁСТКАЯ ширина 75% */
    overflow-wrap: break-word;        /* Перенос внутри текста */
    font-size: 11pt;
}
}

@media (max-width: 800px) {
    .drop {
        text-align: end;
        justify-content:end;
    }

    .nav-btn {
        display: block;
        font-size: 1.6em;
        padding-left: 10px;
        padding-right: 15px;
        padding-bottom: 3px;
        border: none;
        background-color: rgb(55, 54, 54);
        color: white;
        cursor: pointer;
    }

    .nav-list {
        display: none;
        margin-top: 61px;
        transition: right 0.3s;
    }  

    .drop:hover .nav-list {
        display: block;
        position: absolute;
        right: 1px;
        background-color: rgb(55, 54, 54);
    }
    
    .drop:hover nav {
        display: block;
        position: absolute;
        right: 1px;
        background-color: rgb(55, 54, 54);
    }

    .navbar {
        justify-content: space-between;
    }
}

@media (max-width: 750px){
    .expert-info {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3);
        place-items: center;
        margin-left: 0px;
    }

    .participation .invite {
    width: 400px;
    }

    .invite>details>h5 {
        text-align: center;
    }

    .sole {
    display: block;
    }

    .bottom {
        display: block;
    }

    .bottom>.left-end {
        display: block;
        width: 92%;
        padding-left: 0%;
    }

    .bottom>.left-end>p {
        padding-top: 5%;
        font-size: 13pt;
    }

    .left-end>iframe {
        width: 100%;
        height: 380px;
        margin-left: 0%;
        margin-right: 1%;
    }

    .end-page {
        width: 100%;
        text-align: center;
    }

    .copyright {
        text-align: left;
        padding-left: 2%;
    }

    .sole>.bottom {
        width: 100%;
    }

    .conts>p {
        word-break: break-all;
    }

    .conts span {
        margin: 0;
    }
}


@media (max-width: 550px) { 

    table {
        width: 97%; 

    }

    .slogan {
        width: 97%;
    }

    .participation .invite {
        width: 92%;
        margin-left: 0%;
        margin-right: 3%;
    }

    .about-info1 {
        display: inline-block;
        width: 92%;
        justify-content: center;
        margin: 0;
        margin-left: 0%;
        margin-bottom: 1%;
    }

    .about-info2 {
        display: inline-block;
        width: 92%;
        justify-content: center;
        text-align: left;
        margin: 0;
        margin-left: 0%;
        margin-bottom: 1%;
    }

    .about-info3 {
        display: inline-block;
        width: 92%;
        justify-content: center;
        margin: 0;
        margin-left: 0%;
    }

    .about-info1>p {
        font-size: 12pt;
    }
    .about-info2>p {
        font-size: 12pt;
    }

    .partners>.partners-card {
        margin-bottom: 2%;
    }

    .guests-card {
        margin-bottom: 2%;
    }

    .guests-card>img {
        height: 100%;
        width: 300px;
    }

    .prize-card>img {
        height: 100%;
        width: 300px;
    }

    .invite {
        height: 125px;
        width: 200px;
    }

    .invite>details>h5 {
        text-align: center;
        margin-top: 5%;
    }

    .invite>details>summary {
        padding-bottom: 5%;
        font-size: 13.5pt;
    }
}

@media (max-width: 400px) {
    .expert-card {
        width: 92%;
    }

    .rectangle {
        width: 92%;
    }

    .rectangle>p {
        font-size: 11pt;
    }

    .guests-card {
        padding: 15px 0px;
        width: 95%;
    }

    .guests-card>p {
        font-size: 12pt;
    }

    .prize-card>img {
        width: 100%;
    }

    .guests-card>img {
        width: 90%;

    }
}


@media (max-width: 375px) {
    #timer {
        width: 95%;
        font-size: 15pt;
        padding-inline: 0px;
    }
}

@media (width < 370px) {
    .invite {
        height: 170px;
        width: 200px;
    }
}
